
/* Body 
-------------------------------------------------- */
body {
  position: relative;

}



/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}

/* elements
-------------------------------------------------- */

label.valid {
	  width: 24px;
	  height: 24px;
	  background: url(/img/valid.png) center center no-repeat;
	  display: inline-block;
	  text-indent: -9999px;
	}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.section {
position: relative;
	margin: 5px 0;
}

.jumbotron{
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p.subtitle {
  font-size: 24px;
  margin: 10px 0;
}

.masthead-links {
  list-style: none;
}

.masthead-links li {
  display: inline;
  padding: 0 5px;
}

/* doc
-------------------------------------------------- */

.docs-example {
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.docs-example:after {
content: "Example";
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #ddd;
color: #9da0a4;
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}

.docs-example + .prettyprint {
margin-top: -20px;
padding-top: 15px;
}