<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>title demo</title>
	<script type="text/javascript">
	</script>
	<style>
	</style>
	<script type="text/javascript">
	</script>
	<style>
		div{padding: 10px;}
	</style>
</head>

<body>

<div id="header">
	<div id="nav">Hi Gopher</div>
</div>

<h1>hello gwk!</h1>

<!-- <script><style><html>  -->

<div>
	<lable for="selected">selected</lable>
	<select id="selected">
		<option value="" ></option>
		<option value="selected" selected>selected</option>
	</select>
	<lable for="notselected">not selected</lable>
	<select id="notselected">
		<option value="" ></option>
		<option value="notselected" >not selected</option>
	</select>
</div>

<div>
	<input id="checked" type="checkbox" checked>checked</input>
	<input id="notchecked" type="checkbox" >not checked</input>
</div>

<ul>
	<li id="eq">eq 123 123 = true</li>
	<li id="eq">eqs "123" 123 = true</li>
	<li id="gt">gt 3.14 3 = true</li>
	<li id="le">le 1.1 2 = true</li>
</ul>

<div>a<br/>b<br/>c</div>

<div id="settest-before">settest-before = </div>
<div id="settest-after">settest-after = true</div>

<ul id="div-Gopher">
	<li>name:Gopher </li>
	<li>age:3</li>
	<li><a href="http://golang.org">web</a></li>
	<li><a href="mailto:gopher@golang.org">email</a></li>
</ul>

<div id="footer">
	build by gwk
</div>

<script type="text/javascript">
</script>

<script>
 var user = {"Name":"Gopher","Age":3,"Web":"http://golang.org","Email":"gopher@golang.org"};
</script>

</body>
</html>