{{set . "title" "Demo - User Index" }}
{{import "_layout.html" }}

{{define "head" }}{{end}}

{{define "body" }}

<div class="body">
	<div class="container">
		<ul class="breadcrumb">
		  <li><a href="/user/index/">User</a> <span class="divider">/</span></li>
		  <li class="active">Index</li>
		</ul>
	<div class="page-header">
        <h3>User Demo</h3>
    </div>
    <p>
        How to use ViewEngine & template, How to route by regexp
    </p>
    <p class="docs-example">
    source code:<a href="https://github.com/sdming/wk/tree/master/demo/basic/views/user">/demo/basic/views/user</a> ; <a href="https://github.com/sdming/wk/blob/master/demo/basic/controller/user.go">/demo/basic/controller/user.go</a>      
    </p>


	<div id="content">
		<div class="section">
			<a href="/user/add/">[Add new User]</a>
		<div>

		<div class="section" id="users">
		{{partial "user/_list.html" .}}
		<div>
	</div>

</div>
</div>

{{end}}

{{define "script" }}

<script type="text/javascript">

$(document).ready(function(){ 

$("#users").on("click", ".delete-user", function(event){
  $.ajax({
  	url: "/user/delete/"+ $(this).data("id"),
  	dataType: "json",
	}).success(function (data, status, jqXHR) {
	 	if (data.Code == "") {
	 		$("#user-list").load("/user/all/");
	 	} 
	 	else {
	 		alert(data.Message);
	 	}
	}).complete(function (jqXHR, status) {
	}).error(function (jqXHR, status, error) {
	 	alert(error)
	});
	return false;
});

}); 

</script>

{{end}}
